#codeArea {
    -fx-font-family: "Courier New";
    -fx-font-size: 10pt;
}

.error {
    -rtfx-background-color: #f0f0f0;
    -rtfx-underline-color: red;
    -rtfx-underline-dash-array: 2 2;
    -rtfx-underline-width: 1;
    -rtfx-underline-cap: butt;
    -fx-fill: red;
}

.italic {
    -fx-font-style: italic;
}

.underline {
    -fx-underline: true
}

.comment {
    -fx-fill: #008000;
}

.number {
    -fx-fill: #FF0000;
}

.string {
    -fx-fill: #FF0000;
}

.keyword {
    -fx-fill: #0000FF;
}

.special {
    -fx-fill: #021691;
}

.dataType {
    -fx-fill: #8b0000;
}
